{% extends 'index.html' %}

{{% block content %}

    <div class="white"><h1> </h1>   </div>
    <div class="form-style-8">

        <h2> Product Details</h2>
        <h1> Product details goes here </h1> 
        Title : {{object.Title}}<br>
        Description : {{object.Description}}<br>
        SalesPrice : {{object.SalesPrice}}<br>
        Manufacturer : {{object.Manufacturer}}<br>
        Category : {{object.Category}}
        
        <br><br><br><br>

        <div>
            {% for message in messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        </div>
    </div>
    <div class="orange"><h1> </h1>   </div>

{% endblock  %}}


