{% extends 'dashboard/dashboard.html' %}

{% block deactive %}  {% endblock %}
{% block productactive %} active {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="section">
       <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="font-weight-normal ml-1 mx-auto" >  Voulez vous supprimer ce produit : {{obj.Title}}  </h3><br> 
                </div>
                <div class="card-body mr-3 ">
                    <form  method="POST"> {% csrf_token %}
                        {% comment %} <button type="submit" class="btn-bg mt btn btn-danger btn-fill pull-right">Supprimer </button> {% endcomment %}
                        <button type="submit" class="btn btn-danger mt-3 mb-3 pull-right">Supprimer </button>
                        
                        <a class="btn btn-bg mt-3 mb-3" href="/product_list">Annuler</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}    