{% extends 'dashboard/dashboard.html' %}
{% block deactive %}  {% endblock %}
{% block activesupplier %} active {% endblock %}
{% block content %}

<script type="text/javascript">
     function closeSelf(f){
        f.submit();
        window.close();
    } 
</script>

<div class="container-fluid">
    <div class="section">
       <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="font-weight-normal ml-1 mx-auto" >  Ajouter un Fournisseur  </h3><br> 
                </div>
                <div class="card-body mr-3 ">
                    <form id="certform" method="POST"> {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Nom </label>
                                    <input type="text" name="name" class="form-control"  >
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 ">
                                <div class="form-group">
                                    <select class="custom-select" id="type" name="type">
                                        <option value="particulier">particulier</option>
                                        <option value="entreprise">entreprise</option>      
                                    </select>       
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1 ">
                                <div class="form-group">
                                    <label>Numero telephone</label>
                                    <input type="number" name="phone" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6 pr-1 ">
                                <div class="form-group">
                                    <label>Categorie</label>
                                    <input type="text" name="category" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Reference</label>
                                    <input type="text" name="reference" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-8 pr-1">
                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input type="text" name="adress" class="form-control" >
                                </div>
                            </div>
                            

                        </div>
                        <div class="row">
                            
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Note</label>
                                    
                                    <input type="text" name="note" class="form-control" >
                                    
                                </div>
                            </div>
                
                            

                        </div>
                        
                        {% for message in messages %}              
                        <h6 class="text-danger small">{{message}}</h6>
                        {% endfor %} 
                        
                        <button type="submit"  class="btn btn-info btn-fill pull-right">Ajouter Fournisseur </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 

    <script>
      
    </script>