{% load static %}
{% load i18n %}
<style>
  .bgimage {
    
    background-image: url({% static 'img/morning_coffee-wallpaper-1920x1080.png' %});
    //background-size : cover;
  }
</style>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bs.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    
    
    
    <title>eStock</title>
  </head>
  <body >

    
      <nav class="navbar navbar-expand-lg navbar-dark darkgrey monts ">
        
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/Logo.svg'%}" alt="logo" class="d-inline-block align-top logo" >
        </a>
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        {% for language in languages %}
          <li class="nav-item">
            <a href="/{{ language.code }}/"
              {% if language.code == CURRENT_LANGUAGE %} class="text-light active hide d-none" {% else %} class="text-light active" {% endif %}>
              {{ language.name_local }} 
            </a>
          </li>
        {% endfor %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          {% if user.is_authenticated %} 
          <a class="nav-item nav-link text-white mr-auto leftmarg" >{% trans Bonjour   %},  {{user.last_name.upper}}</a>
          {% endif  %}         
          <ul class="navbar-nav ml-auto ">




            <li class="nav-item">
                <a class="nav-link text-light " href="/">{% trans "Acceuil" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about/">{% trans "A propos" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/services/">{% trans "Services" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="/contact/">{% trans "Contact" %}</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class=" mybutton " href="/dashboard" role="button">{% trans "Tableau de Bord" %}</a>                
            </li>
            <li class="nav-item">
              <a class=" mybutton " href="/accounts/logout" role="button">{% trans "Deconnexion" %}noice</a>                
            </li>


            {% else %}
            <li class="nav-item">
                <a class="   mybutton " href="/accounts/login" role="button">{% trans "Connexion" %}</a>
            </li>
            {% endif %}

        </ul>
        </div>

      </nav>

{% block content %} 
      <div class="jumbotron bgimage  ">

        <h1 class="d4 monts ">{% trans "Gestion des stocks en ligne simple et efficace." %} <br><br> </h1>
        
        <p class="lead center ">
            <a class=" btn-lg mybutton2 monts" href="/learnmore/" role="button">{% trans "Apprendre Plus" %}</a>
        </p>
        
      </div>
    <div class="container-fluid orangebg monts">

      </div>
        <div class="card-deck decc">

          <div class="card borderr cardradius">
            <img class=" pc-icon " src="{% static 'img/website.png'%}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title center bolld">{% trans "L’efficacité aux commandes" %}</h5>
              <p class="card-text center"> {% trans "Passez moins de temps devant l’écran et davantage auprès de vos clients." %} </p>          
            </div>
          </div>

          <div class="card borderr cardradius">
            <img class=" report-icon " src="{% static 'img/report.png'%}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title center bolld">{% trans "Gestion des stocks en lot" %} </h5>
                <p class="card-text center">{% trans "Consulter vos rapports sur vos stocks actuels et mettez à jour les quantités en masse : pratique au moment d’ajouter de nouveaux stocks!" %}</p>
            </div>
          </div>

          <div class="card borderr cardradius">
            <img src="{% static 'img/caution.png'%}" class="caution-icon" alt="...">
            <div class="card-body">
              <h5 class="card-title center bolld">{% trans "Évitez les ruptures de stock" %} </h5>
              <p class="card-text center">{% trans "sachez toujours où" %} <br> {% trans "vous en êtes, avec les notifications indiquant les stocks réduits ou épuisés." %} </p>          
            </div>
          </div>

          
        </div>
                        <h2 class="bolld  cctext ">{% trans "Creér Votre Compte" %} <br>{% trans "Dès Maintenant!" %} </h2> 
        <p class="lead ccbtn ">
            <a href="accounts/register" class="mybutton2G  " > {% trans "Créer Compte" %} </a>
            </p>
                

    </div>


    






<div class="ufoot"></div>
{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 monts">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        
        <a href="/"><img src="{% static 'img/Logo.svg'%}" class="logofooter" alt="logo"></a>
        <p class="adress">Bab Ezzouar, 16000<br>DZ</p>
      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      

        <!-- Links -->
        

        <ul class="footer-links col-md-3 mb-md-0 mb-3">
          <li>
            <a href="#!">{% trans "Conditions de Services" %}</a>
          </li>
          <li>
            <a href="#!">{% trans "Politique de confidentialité" %}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>