{% load static %}
<style>
  .bgimage {
    
    background-image: url({% static 'img/morning_coffee-wallpaper-1920x1080.png' %});
    //background-size : cover;
  }
</style>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bs.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    
    
    <title>StockNet</title>
  </head>
  <body >

    
      <nav class="navbar navbar-expand-lg navbar-dark darkgrey monts ">
        
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/Logo.svg'%}" alt="logo" class="d-inline-block align-top logo" >
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link text-white mr-auto leftmarg" >Bonjour,  {{user.last_name.upper}}</a>
          {% endif  %}         
          <ul class="navbar-nav ml-auto ">

            <li class="nav-item">
                <a class="nav-link text-light " href="/">Acceuil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about/">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/services/">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="/contact/">Contact</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="   mybutton " href="/accounts/logout" role="button">Deconnection</a>
                
            </li>
            {% else %}
            <li class="nav-item">
                <a class="   mybutton " href="/accounts/login" role="button">Connection</a>
            </li>
            {% endif %}

        </ul>
        </div>

      </nav>

{% block content %} 
      
        
        
        <p class="lead center ">
        </p>
        
      </div>
    <div class="container-fluid orangebg monts">

      </div>
    
    <div class="white"><h1> </h1>   </div>




                  <div class="form-style-8">
                <h2>Se connecter</h2>
            <form action="login" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nom d'utilisateur""><br>
            <input type="password" name="password" placeholder="Mot de pass""><br>
            <input type="Submit" value="Connexion" >
        </form>
        <div>
            {% for message in messages %}
            <h4 class="text-danger" > {{message}} </h4>
            {% endfor %}
            
        </div>
    </div>
    <div class="orangelog"><h1> </h1>   </div>


              
              </div>
          </div>

          
        </div>

                

    </div>


    






<div class="ufootlog"></div>
{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 monts">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        
        <a href="/"><img src="{% static 'img/Logo.svg'%}" class="logofooter" alt="logo"></a>
        <p class="adress">Bab Ezzouar, 16000<br>DZ</p>
      </div>

        <ul class="footer-links col-md-3 mb-md-0 mb-3">
          <li>
            <a href="#!">Conditions de Services</a>
          </li>
          <li>
            <a href="#!">Politique de confidentialité</a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
































